@font-face {
  font-family: infinity;
  src: url(../assets/font/Infinity.ttf);
}


@font-face {
	font-family: HelveticaNeue;
	src: url(../assets/font/HelveticaNeue.dfont);
}



#landing-title{
  position: relative;
  font-family: infinity;
  font-weight: lighter;
  font-size: 20em;
  top: -5%;
  z-index: 2;
}

#landing-subtitle{
  position: relative;
  font-family: HelveticaNeue;
  font-size: 2em;
  top: -45%;
  z-index: 2;
}

#landing{
  text-align: center;
  color: white;
}

#logo{
  position: absolute;
  z-index: 1;
  left: 1%;
  top: 1%;
}

#landing #background{
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: 0;
}

#construction{
  background-image: url("../../backgrounds/construction.png");
  background-repeat: repeat;
}
